default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd neutrino_server && go fmt ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-vet
        name: go vet
        entry: bash -c 'cd neutrino_server && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd neutrino_server && go mod tidy'
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false
      - id: go-test
        name: go test
        entry: bash -c 'cd neutrino_server && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false
